* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}
body {
    background: #121213;
}
header {
    text-align: center;
    margin-top: 2%;
    letter-spacing: 5px;
}
header p {
    font-size: xx-large;
    color: rgb(23, 212, 171);
}
header {
    margin-bottom: -7%;
}
.container  {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    height: 100%;
    color: #fff;
    width: 100%;
}
.container div h4 {
    text-align: center;
    padding-top: 15px;
    font-size: larger;
}
.container p {
    text-align: center;
    padding-top: 3px;
    font-size: 60px;
}
.clock {
    height: 120px;
    width: 120px;
    border: 1px solid crimson;
    margin: 0 20px;
}
.fa-heart {
    color: red;
}
.clock:hover {
    background: rgb(23, 212, 171);
    transition: 2s ease-in-out;
    transform: rotateZ(360deg);
    color: crimson;
}
footer {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
footer p {
    font-size: larger;
    color: rgb(23, 212, 171);
    margin-bottom: 4%;
}
footer a {
    color: rgb(23, 212, 171);
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 30%;
        margin-top: 15%;
    }
    .clock {
        width: 150px;
        height: 150px;
        border-radius: 150px;
        margin-top: 10%;
    }
    .container p {
        text-align: center;
        padding-top: 15px;
        font-size: 45px;
        font-family: 'Indie Flower', cursive;
    }
    footer {
        margin-top: 48%;
    }
    header p {
        font-size: 20px;
        margin-top: 5%;
    }
}